
<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation" id="navbar">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="#"><i class="fa-sharp fa-solid fa-cart-shopping-fast"></i>Green Cart</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
      aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <!-- Pages -->
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle" href="#Categories" id="navbarDropdown4" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a href="#Categories">vegetables</a></li>
            <li><a href="#Categories">Fruits</a></li>
            <li><a href="#Categories">Leafy vegetables</a></li>
            <li><a href="#Categories">Dairy Products</a></li>
            <li><a href="#Categories">Non-Veg Items</a></li>
          </ul>
        </li><!-- /Pages -->
        <!-- / Blog -->

        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a href="#">Shop</a></li>
            <li><a href="#">Product Details</a></li>
            <li><a href="#">Checkout</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Confirmation</a></li>
          </ul>
        </li><!-- / Blog -->

        <!-- Account -->
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account.
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
            <li><a routerLink="/login">Login Page</a></li>
            <li><a href="/signup">SignUp Page</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Address</a></li>
            <li><a href="#">Profile Details</a></li>
            <li><a href="#">Forgot Password</a></li>
          </ul>
        </li><!-- / Account -->

        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
    <!-- Navbar-collapse -->

    <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
      <li class="list-inline-item">
        <a href="#" class="search_toggle" id="search-icon"><i class="tf-ion-android-search"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="dropdown-toggle cart-icon">
          <i class="tf-ion-android-cart"></i>
        </a>
        </li>

      <li class="list-inline-item"><a href="#"><i class="tf-ion-ios-person mr-3"></i></a></li>
    </ul>
  </div>
</nav>
