<ngx-slick-carousel class="main-slider slider"   [config]="slideConfig" >
  <div ngxSlickItem class="slider-item " style="background-image:url('assets/images/hero-3.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-0 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Welcome to Green Cart </span>
            <h1 class="mt-2 mb-5"><span class="text-color">70% off </span>to everything</h1>
            <a href="#" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-3.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">up to 70% off</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Classic</span> Style</h1>
            <a href="#" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-1.jpg'); background-position:50%;background-repeat:no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Trendy dress</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Winter </span>Collection</h1>
            <a href="#" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>-->

<section class="category section pt-3 pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <div class="title text-center">
              <h2>Categories</h2>
              <p>The best offers to Each Products</p>
          </div>
      </div>
  </div>
    <div class="row">
      <div class="col-lg-0 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/fruit1.png" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Fresh Fruits</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>

            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-0 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/veg1.png" alt="" class="img-fluid">

          <div class="item-info">
            <p class="mb-0">Healthy vegetables</p>
            <h4 class="mb-4">up to <strong>40% </strong>off</h4>

            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-0 col-sm-12 col-md-6">
        <div class="cat-item">
          <img src="assets/images/dairy.png" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Dairy Products</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>

            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-0 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/nonveg.png" alt="" class="img-fluid">

          <div class="item-info">
            <p class="mb-0">Healthy vegetables</p>
            <h4 class="mb-4">up to <strong>40% </strong>off</h4>

            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="section products-main">
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="title text-center">
                      <h2>New arrivals</h2>
                      <p>The best Online sales to shop these weekend</p>
                  </div>
              </div>
          </div>


      <div class="row">
        <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" >
            <div class="product">
            <div class="box-container">
              <div class="box">
              <div class="product-wrap">
                  <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/product-8.png" alt="product-img" /></a>
              </div>

              <span class="onsale">Sale</span>
              <div class="product-hover-overlay">
                  <a href="#"><i class="tf-ion-android-cart"></i></a>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </div>

              <div class="product-info">
                  <h2 class="product-title h5 mb-0"><a href="#">Natural Butter</a></h2>
                  <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </div>

                    <div class="quantity">
                      <span>Quantity:</span>
                      <input type="number" min="1" max="1000" value="1">
                      <span> /kg </span>
                  </div>

                  <span class="price">
                      Rs.120/-
                  </span>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
          <div class="product">
            <div class="box-container">
              <div class="box">
              <div class="product-wrap">
                  <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/product-1.png" alt="product-img" /></a>
              </div>

              <span class="onsale">Sale</span>

              <div class="product-hover-overlay">
                  <a href="#"><i class="tf-ion-android-cart"></i></a>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </div>

              <div class="product-info">
                  <h2 class="product-title h5 mb-0"><a href="#">Organic Banana</a></h2>
                  <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </div>

                    <div class="quantity">
                      <span>Quantity:</span>
                      <input type="number" min="1" max="1000" value="1">
                      <span> /kg </span>
                  </div>

                  <span class="price">
                      Rs.50/-
                  </span>
              </div>
          </div>
        </div>
        </div>
        </div>

        <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" >
          <div class="product">
            <div class="box-container">
              <div class="box">
              <div class="product-wrap">
                  <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/product-2.png" alt="product-img" /></a>
              </div>

              <span class="onsale">Sale</span>
              <div class="product-hover-overlay">
                  <a href="#"><i class="tf-ion-android-cart"></i></a>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </div>

              <div class="product-info">
                  <h2 class="product-title h5 mb-0"><a href="#">Organic Tomato</a></h2>
                  <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    </div>

                    <div class="quantity">
                      <span>Quantity:</span>
                      <input type="number" min="1" max="1000" value="1">
                      <span> /kg </span>
                  </div>

                  <span class="price">
                     Rs.60/-
                  </span>
              </div>
          </div>
        </div>
        </div>
        </div>

        <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
          <div class="product">
            <div class="box-container">
            <div class="box">
              <div class="product-wrap">
                  <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/product-3.png" alt="product-img" /></a>
              </div>

              <span class="onsale">Sale</span>

              <div class="product-hover-overlay">
                  <a href="#"><i class="tf-ion-android-cart"></i></a>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </div>

              <div class="product-info">
                  <h2 class="product-title h5 mb-0"><a href="#">Organic Orange</a></h2>
                  <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </div>

                    <div class="quantity">
                      <span>Quantity:</span>
                      <input type="number" min="1" max="1000" value="1">
                      <span> /kg </span>
                  </div>

                  <span class="price">
                      Rs.150/-
                  </span>
              </div>
          </div>
        </div>
        </div>
        </div>

        <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
          <div class="product">
            <div class="box-container">
            <div class="box">
              <div class="product-wrap">
                  <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/product-4.png" alt="product-img" /></a>
              </div>

              <span class="onsale">Sale</span>

              <div class="product-hover-overlay">
                  <a href="#"><i class="tf-ion-android-cart"></i></a>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </div>

              <div class="product-info">
                  <h2 class="product-title h5 mb-0"><a href="#">Natural Milk</a></h2>
                  <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    </div>

                    <div class="quantity">
                      <span>Quantity:</span>
                      <input type="number" min="1" max="1000" value="1">
                      <span> /kg </span>
                  </div>

                  <span class="price">
                      Rs.200/-
                  </span>
              </div>
          </div>
        </div>
        </div>
        </div>

        <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" >
          <div class="product">
            <div class="box-container">
              <div class="box">
              <div class="product-wrap">
                  <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/product-5.png" alt="product-img" /></a>
              </div>

              <span class="onsale">Sale</span>

              <div class="product-hover-overlay">
                  <a href="#"><i class="tf-ion-android-cart"></i></a>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </div>

              <div class="product-info">
                  <h2 class="product-title h5 mb-0"><a href="#">Organic Grapes</a></h2>
                  <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    </div>

                    <div class="quantity">
                      <span>Quantity:</span>
                      <input type="number" min="1" max="1000" value="1">
                      <span> /kg </span>
                  </div>

                  <span class="price">
                      Rs.80/-
                  </span>
              </div>
          </div>
        </div>
        </div>
        </div>

        <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5 " >
          <div class="product">
            <div class="box-container">
              <div class="box">
              <div class="product-wrap">
                  <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/product-6.png" alt="product-img" /></a>
              </div>

              <span class="onsale">Sale</span>

              <div class="product-hover-overlay">
                  <a href="#"><i class="tf-ion-android-cart"></i></a>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </div>

              <div class="product-info">
                  <h2 class="product-title h5 mb-0"><a href="#">Natural Almonds</a></h2>
                  <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </div>

                    <div class="quantity">
                      <span>Quantity:</span>
                      <input type="number" min="1" max="1000" value="1">
                      <span> /kg </span>
                  </div>



                  <span class="price">
                      Rs.1000/-
                  </span>
              </div>
          </div>
        </div>
        </div>
        </div>

       <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5 " >
          <div class="product">
            <div class="box-container">
              <div class="box">
              <div class="product-wrap">
                  <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/product-7.png" alt="product-img" /></a>
              </div>

              <span class="onsale">Sale</span>

              <div class="product-hover-overlay">
                  <a href="#"><i class="tf-ion-android-cart"></i></a>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </div>

              <div class="product-info">
                  <h2 class="product-title h5 mb-0"><a href="#">Organic Apples</a></h2>
                  <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    </div>

                    <div class="quantity">
                      <span>Quantity:</span>
                      <input type="number" min="1" max="1000" value="1">
                      <span> /kg </span>
                  </div>

                  <span class="price">
                      Rs.120/-</span>

                  </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <!-- /portfolio -->

  <section class="ads section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-0">
        <div class="ads-content">
          <span class="h5 deal">Deal of the day 50% Off</span>
          <h2 class="mt-3 text-black">Organic Vegetables</h2>
          <p class="text-md mt-3 text-black">Hurry up! Limited time offer.Grab it now!</p>
          <!-- syo-timer -->
              <div id="simple-timer" class="syotimer mb-5"></div>
          <a href="#" class="btn btn-main"><i class="ti-bag mr-2"></i>Shop Now </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section products-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-12">
          <img src="assets/images/baner2.jpg" alt="Product big thumb"  class="img-fluid w-100">
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="widget-featured-entries mt-5 mt-lg-0">
          <h4 class="mb-4 pb-3">Best sellers</h4>

                <div class="media mb-3">
                	<a class="featured-entry-thumb" href="#">
                  	<img src="assets/images/zucchini.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
                  </a>
                  <div class="media-body">
                    <h6 class="featured-entry-title mb-0"><a href="#">Nikki - Zucchini</a></h6>
                    <p class="featured-entry-meta">Rs.42/-</p>
                  </div>
                </div>

                <div class="media mb-3">
                	<a class="featured-entry-thumb" href="#">
                  	<img src="assets/images/cabbage.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
                  </a>
                  <div class="media-body">
                    <h6 class="featured-entry-title mb-0"><a href="#">paaru - Cabbage</a></h6>
                    <p class="featured-entry-meta">Rs.27/-</p>
                  </div>
                </div>

                <div class="media mb-3">
                  <a class="featured-entry-thumb" href="#">
                  	<img src="assets/images/broccoli.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
                  </a>
                  <div class="media-body">
                    <h6 class="featured-entry-title mb-0"><a href="#">Guess - Broccoli</a></h6>
                    <p>Rs.38/-</p>
                  </div>
                </div>


        </div>
      </div>


      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="widget-featured-entries mt-5 mt-lg-0">
          <h4 class="mb-4 pb-3">Best Sellers</h4>

                <div class="media mb-3">
                	<a class="featured-entry-thumb" href="#">
                  	<img src="assets/images/capsicum.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
                  </a>
                  <div class="media-body">
                    <h6 class="featured-entry-title mb-0"><a href="#">Keds - capsicum</a></h6>
                    <p class="featured-entry-meta">Rs42/-</p>
                  </div>
                </div>

                <div class="media mb-3">
                	<a class="featured-entry-thumb" href="#">
                  	<img src="assets/images/carrot.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
                  </a>
                  <div class="media-body">
                    <h6 class="featured-entry-title mb-0"><a href="#">Anand - Carrot</a></h6>
                    <p class="featured-entry-meta">Rs.27/-</p>
                  </div>
                </div>

                <div class="media mb-3">
                  <a class="featured-entry-thumb" href="#">
                  	<img src="assets/images/red-radish.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
                  </a>
                  <div class="media-body">
                    <h6 class="featured-entry-title mb-0"><a href="#">Raja - Raddish</a></h6>
                    <p>Rs.38/-</p>
                  </div>
                </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="features border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-ion-android-bicycle"></i>
          <div class="content">
            <h5>Free Shipping</h5>
            <p>On all order </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-wallet"></i>
          <div class="content">
            <h5>30 Days Return</h5>
            <p>Money back Guarantee</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-key"></i>
          <div class="content">
            <h5>Secure Checkout</h5>
            <p>100% Protected </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-clock"></i>
          <div class="content">
            <h5>24/7 Support</h5>
            <p>All time customer support </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
