nav{
  border:0;
  background-color:rgb(243, 226, 186);
  align-items: center;
  height: 40px;

}
a{
  margin-top: 130px;
  align-content: space-around;
  padding: 100px;
  align-items: center;
  padding-left: 20px;
}
.pavan img {
  height: 70px;
  margin-right: 0px;
}
.pavan {
  display: flex;
  justify-content: center;
}
.pavan h1{
  background-color: antiquewhite;
  height: fit-content;
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
img{
  max-width: 150%;
  max-height: 100%;
}
.text{
  font-size: 20px;
  padding-left: 80px;
  font-style: italic;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 10%;
  width: 100%;
  background-color: antiquewhite;
}
