<div class="pavan">
  <h1>
    ONLINE GROCERY SHOPPING WEBSITE
  </h1>
  </div>
<nav>
  <a routerLink="Home">Home</a>
  <a routerLink="Products">Products</a>
  <a routerLink="Categories">Categories</a>
  <a routerLink="Contact">Contact Us</a>
  <a routerLink="blog">Blog</a>
  <a routerLink="Login">Login/SignUp</a>
</nav>
<router-outlet></router-outlet>
<div class="container">
  <div class="image">
</div>
<div class="text">
  <h2><p>Get fresh home delivered food at your doorstep from FreshMenu. Order food online from FreshMenu. Choose from a wide range of cuisines and categories for food delivery. Get fresh home delivered food at your doorstep from FreshMenu. Order food online. Get fresh food delivery from FreshMenu. Get additional 20 off On Placing an order via link
</p></h2>
</div>
</div>
<div class="footer">
  <h4>All Rightrs Are Reserved @OFOS 2023</h4>
</div>
